.cardServices-container{
    width: 530px;
    height: 290px;
    background-color: red;

    display: flex;
    flex-direction: column;
}
.cardServices-container h1{
    font-size: 1.8em;
    text-align: center;
    font-weight: 500;
}

.cardServices-container-icon{
    font-size: 4em;
}