

.main{
  z-index: 5;
  height: 100px;
  width: 100vw;
  padding: 2em 3em;
  background-color: rgba(255, 255, 255, 0.95);

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.logo{
    filter: invert();
    display: flex;
    width: 4em;
    height: 4em;
  }
  
  .nav-list{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
  }

  .nav-item{
    list-style: none;
    transition: .6s ease-in-out;
  }

  .nav-button{
    background: var(--secondary-color);
    padding: 1rem 3.5rem;
    border-radius: .8rem;
    text-decoration: none;
  }
  .nav-list a{
    text-decoration: none;
  }

  
  .nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: black;
  }