:root{
    --main-green: #20424A
}

.Footer{
    width: 100%;
    padding: 0 15%;
    box-sizing: border-box;
    height: 30vh;
    background: var(--main-green);
}

.container hr{
    margin: 1vh 0 3vh 0;
}

.navbar{
    display: flex;
    padding: 1vh 0;
    align-items: center;
    justify-content: space-between;
}

.navbar h1{
    font-weight: 500;
    font-size: 1.7rem;
}

.navbar div *{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 200;
}

.navbar div{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.mainContent{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.mainContent div{
    
}

.mainContent div h1{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1vh;
}

.mainContent div p{
    font-size: 1.2rem;
    font-weight: 200;
}