.App{
    width: 100%;
}

.Header{
    height: 100vh;
    background-image: url(./images/bg-header.png);
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
}

.header-textContainer{
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.header-textContainer *{
    color: white;
}

.header-textContainer h1{
    font-size: 56px;
    line-height: 1.2em;
}
.header-textContainer p{
    font-weight: 200;
    font-size: 20px;
}

.header-contactButton{
    background: #ac6b3d;
    width: 12em;
    height: 2.8em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;

    transition: .3s ease-in-out;
}
.header-contactButton:hover{
    transform: scale(1.05);
}